@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rgb(214, 211, 211);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* flex-direction: column; */
}

.navbar{
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(6, 6, 101);
}

.navbar .logo{
    text-transform: uppercase;
    padding: 10px;
    margin-left: 50px;
    font-size: 30px;
    font-weight: bolder;
    color: #fff;
    
}

.navbar .search-bar form input{
    width: 600px;
    padding: 8px;
    border: none;
    border-radius: 7px;
}

.navbar .search-bar form i{
    color: #fff;
    font-size: 20px;
}

.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navbar ul li{
    color: #fff;
    padding: 10px;
}

.product{
    width: 80%;
    border: 2px solid red;

}
